body{
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #ecf0f1;
}

.container_cadastro{
    width: 100%;
    height: 842px;
}

.titulo_cadastro{
    font-size: 35px;
    margin-bottom: 50px;
    margin-left: 45px;
    padding-top: 55px;
}

label{
    margin-left: 45px;
}

label{
    font-size: 20px;
}

.inpt{
    width: 450px;
    height: 35px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 45px;
    border: 1px solid rgb(156, 152, 152);
}

.btn_cadastro{
    width: 100px;
    height: 35px;
    margin-left: 215px;
    border-radius: 5px;
    float: left;
    background-color: green;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.btn_cadastro:hover{
    background-color:
}

.img_cadastro{
    padding-left: 680px;
    margin-top: -352px;
    width: 580px;
}

