body{
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #ecf0f1;
}

.pag_login{
    background-color: #ecf0f1;
    text-align: center;
    padding: 50px 0;
}

.box-login{
    display: inline-block;
    background-color: white;
    box-shadow: 5px 7px 8px 2px #ccc;
    padding: 60px 20px 0px 20px;
    border-radius: 20px;
    width: 400px;
    height: 280px;
}

.box-login form{
    margin-top: 40px;
}

.pag_login .inpt_padrao{
    width: 55%;
    display: inline-block;
    border: 1px solid rgb(100, 98, 98);
    height: 25px;
}

.btn_green{
    color: white;
    background-color:rgb(12, 156, 12);
    margin: 20px 0px 50px 0px;
    border: 0;
    padding: 10px 20px;
    border-radius:5px;
    float: left;
    cursor: pointer;
}

.btn_green:hover{
    background-color: rgb(52, 129, 109);
    transition: 0.6s;
}

.pag_login .btn_green{
    display: block;
    float: none;
    margin: auto;
    margin-top: 40px;
}

.rodape{
    margin-top: 383px;
}